# 🍯 MODÈLE DE CONFIGURATION DU PROJET — RECONSTRUIRE EN LOCAL
MONGODB_USER="cowrie_user"
MONGODB_PASSWORD="VotreMotDePasseFortIci"
TELEGRAM_BOT_TOKEN="VotreTokenBotTelegramIci"
TELEGRAM_CHAT_ID="VotreChatIdIci"
FIREWALL_SECRET_TOKEN="VotreTokenDeLiaisonFirewallIci"